ion-app._gmaps_cdv_ .nav-decor {
  background-color: #f2f1f0 !important;
}
page-live {
  .content-block {
    position: relative;
    padding: 16px;
    width: 200px;
    // height: 50px;
    // border-right: 1px solid #000000;
  }
  .content-block img {
    position: absolute;
    left: 100%;
    bottom: 50%;
    width: 40px;
    // height: 35px;
    margin: -17px;
  }

  // .content-block p {
  //   position: absolute;
  //   margin: auto;
  // }

  .headerChipGray {
    ion-chip.chip.chip-md {
      margin: 2px 2px 2px 2px;
      border-radius: 15px;
      border: 1px solid gray;
      background: white;
    }
    ion-chip.chip.chip-ios {
      margin: 2px 2px 2px 2px;
      border-radius: 15px;
      border: 1px solid gray;
      background: white;
    }
  }

  .headerChipGreen {
    ion-chip.chip.chip-md {
      margin: 2px 2px 2px 2px;
      border-radius: 15px;
      color: #fff;
      // border: 1px solid #000000;
      // background: #000000;
  background-image: linear-gradient(to right top, #429b0c, #429b0c, #429b0c, #429b0c, #429b0c);
    }

    ion-chip.chip.chip-ios {
      margin: 2px 2px 2px 2px;
      border-radius: 15px;
      // background: #000000;
  background-image: linear-gradient(to right top, #429b0c, #429b0c, #429b0c, #429b0c, #429b0c);
      color: #fff;
      // border: 1px solid #000000;
    }
  }
  ion-fab-list {
    button {
      width: 75px;
    }
  }
  .item-inner {
    padding-right: 0px !important;
  }
  #map_canvas {
    // margin-top: 10%;
    height: 99%;
    width: 100%;
  }
  #map_canvas_single_device {
    height: 99%;
    width: 100%;
  }
  canvas {
    border: 1px solid black;
  }
  .content-ios,
  .content-md {
    background-color: #e9e6e3;
  }
  .drawer-content {
    // padding: 10px;
    p {
      font-size: 8px;
    }
    .col {
      padding: 0px;
    }
  }
  .infoB {
    font-size: 13px;
    border-radius: 2px;
    background-color: rgb(44, 32, 32);
    box-shadow: 3px 3px 5px rgb(75, 62, 62);
    color: rgb(133, 87, 87);
    padding: 15px;
  }
  .infoB:before {
    border-top-color: rgb(44, 32, 32);
    border-width: 5.5px;
    margin-top: -1.5px;
  }
  .infoB:after,
  .infoB:before {
    border: 10px solid transparent;
    border-top-color: rgb(44, 32, 32);
    position: absolute;
    content: "";
    top: 100%;
    left: 9px;
  }

  @-webkit-keyframes blinker {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
  }
}
