<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Summary Report" | translate }}</ion-title>
    <ion-buttons end *ngIf="summaryReportData.length > 0">
      <!-- <button ion-button style="background: white; color: #000000;" small (click)="OnExport()">{{"Export To
        Excel" | translate}}</button> -->
      <button ion-button icon-only style="color: #fff;" small (click)="OnExport()">
        <img style="width: 20px;" type="image/svg+xml" src="assets/icon/microsoft-office-mac-tilt-excel-icon-17.svg" *ngIf="pltStr === 'ios'">
        <ion-icon name="custom-excel" *ngIf="pltStr !== 'ios'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-item style="height: 45px; background-color: #fafafa;">
    <ion-label>{{ "Select Vehicle" | translate }}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [isMultiple]="true" [canSearch]="true"
      (onChange)="getSummaarydevice(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-row style="background-color: #fafafa;">
    <ion-col style="text-align: center;">
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('today')">{{"Today" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('yest')">{{"Yesterday" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('week')">{{"Week" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('month')">{{"Month" | translate}}</button>
    </ion-col>
  </ion-row>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "From Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater" [max]="today" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "To Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getSummaryReport()">
        </ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>

  <ion-card *ngFor="let item of summaryReportData; let i = index">
    <ion-item style="border-bottom: 2px solid #dedede;">

      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/car_blue_icon.png" style="
            margin-top: -10px;
            width: 40px;
            height: 40px;" />
        </ion-col>
        <ion-col col-5>
          <p style="
            color:black;
            font-size:16px;
            margin: 0px;">
            {{ item.Device_Name }}
          </p>
        </ion-col>
        <ion-col col-4>
          <p style="
            text-align: center;
            font-size: 11px;
            color:#11c1f3;
            font-weight:bold;">
            {{"Trips" | translate}} - {{item.tripCount}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:2%;">
        <ion-col col-3>
          <p style="
          color:gray;
          font-size:11px;
          font-weight:400;">
            <span *ngIf="item.ignOn">{{ item.ignOn }}</span>
            <span *ngIf="!item.ignOn">00.00</span>&nbsp;
          </p>

          <p style="
          color:#53ab53;
          font-size:11px;
          font-weight: bold;">
            {{'Running' | translate}}
          </p>
        </ion-col>
        <ion-col col-3>
          <p style="
            color:gray;
            font-size:11px;
            font-weight:400;">
            <span *ngIf="item.ignOff">{{ item.ignOff }}</span>
            <span *ngIf="!item.ignOff">00.00</span>&nbsp;
          </p>

          <p style="
          font-size: 11px;
          color:red;
          font-weight:bold;">
            {{'Stop' | translate}}
          </p>
        </ion-col>
        <ion-col col-3>
          <p style="
            color:gray;
            font-size:11px;
            font-weight:400;">
            <span *ngIf="item.t_idling">{{ item.t_idling }}</span>
            <span *ngIf="!item.t_idling">00.00</span>&nbsp;
          </p>

          <p style="
          font-size: 11px;
          color:#e6c917;
          font-weight:bold;">
            Idle
          </p>
        </ion-col>
        <ion-col col-3>
          <p style="
            color:gray;
            font-size:11px;
            font-weight:400;">
            <span *ngIf="item.t_ofr">{{ item.t_ofr }}</span>
            <span *ngIf="!item.t_ofr">00.00</span>&nbsp;
          </p>

          <p style="
          color:#009688;
          font-size: 11px;
          font-weight: bold;">
            {{'Out of reach' | translate}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:2%;">
        <ion-col col-3>
          <p style="
              color:gray;
              font-size:11px;
              font-weight: 400;">
            <span *ngIf="item.distance">{{
                      item.distance | number: "1.0-2"
                    }}{{ (measurementUnit == 'MKS') ? ("Kms" | translate) : ("Miles" | translate)}}</span>
            <span *ngIf="!item.distance">00.00{{ (measurementUnit == 'MKS') ? ("Kms" | translate) : ("Miles" | translate)}}</span>&nbsp;
          </p>

          <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: bold;">
            {{'Distance' | translate}}
          </p>
        </ion-col>
        <ion-col col-3>
          <p style="
              color:gray;
              font-size:11px;
              font-weight:400;">
            <span *ngIf="item.overspeeds">{{ item.overspeeds }}{{ (measurementUnit == 'MKS') ? ("Km/hr" | translate) : ("Miles/hr" | translate)}}</span>
            <span *ngIf="!item.overspeeds">00.00</span>&nbsp;
          </p>

          <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: bold; margin-left: -18px;">
            {{'Overspeeding' | translate}}
          </p>
        </ion-col>
        <ion-col col-3>
          <p style="
              color:gray;
              font-size:11px;
              font-weight: 400;">
            <span *ngIf="item.routeViolations">{{ item.routeViolations }} {{ (measurementUnit == 'MKS') ? ("Km/hr" | translate) : ("Miles/hr" | translate)}}</span>
            <span *ngIf="!item.routeViolations">0 {{ (measurementUnit == 'MKS') ? ("Km/hr" | translate) : ("Miles/hr" | translate)}}</span>&nbsp;
          </p>

          <p style="text-align:left;font-size: 11px;color:#11c1f3;  font-weight:bold; margin-left: -18px;">
            {{'Route Voilation' | translate}}
          </p>
        </ion-col>
        <ion-col col-3>
          <p style="
            color:gray;
            font-size:11px;
            font-weight:400;">
            <span>{{ item.mileage }}{{ (measurementUnit == 'MKS') ? ("Litre" | translate) : ("Gallon" | translate)}}</span>
          </p>

          <p style="
          color:#009688;
          font-size: 11px;
          font-weight: bold; ">
            {{'Fuel Con' | translate}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 5px;">
        <ion-col col-1>
          <ion-icon name="pin" style="color:#33c45c; font-size:15px;"></ion-icon>
        </ion-col>
        <ion-col col-11 (onCreate)="start_address(item, i)" style="font-size: 0.8em;">
          <div class="overme">
            {{ item.StartLocation }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
          <ion-icon name="pin" style="color:#e14444;font-size:15px;"></ion-icon>
        </ion-col>
        <ion-col col-11 (onCreate)="end_address(item, i)" style="font-size: 0.8em;">
          <div class="overme">
            {{ item.EndLocation }}
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>
</ion-content>